<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detail.css" />
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../font/fontawesome-free-5.13.0-web/css/all.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../font/fontawesome-free-5.13.0-web/css/fontawesome.min.css"
    />

    <title>Siêu thị Mart-Organic</title>
  </head>
  <body>
    <header id="header-main">
      <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <div class="container-fluid">
          <!-- Navbar content -->
          <div class="logo">
            <a href="/" class="navbar-brand">
              <img src="./images/logo.png" alt=""
            /></a>
          </div>
          <form class="form-inline form-search mr-auto" action="/products/search" method="GET">
            <input
              class="key-word"
              type="text"
              placeholder="Tìm kiếm sản phẩm"
              aria-label="Search"
              name="name"
            />
            <button class="btn btn-outline-success btn-search" type="submit">
              <span class="fas fa-search"></span>
            </button>
          </form>
          <div class="contact-info">
            <ul>
              <% if (!session.passport) { %>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle dropdown user-info"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <b class="user-profile">Đăng nhập</b>
                  <br />
                  <small>Tài khoản</small>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a href="/users/register" class="dropdown-item" href="#"
                    >Đăng ký</a
                  >
                  <a href="/users/login" class="dropdown-item" href="#"
                    >Đăng nhập</a
                  >
                </div>
              </li>

              <% } else { %>
              <li>
                <a href="/users/logout" class="btn-logout">Logout</a>
              </li>
              <% } %>
              <li>
                <a href="/carts" class="btn-view-cart">
                  <i class="fas fa-shopping-cart"></i> Giỏ hàng
                  <span><%= session.cart ? session.cart.count : 0; %></span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="navbar-bottom bg-custom">
        <div class="container-fluid select-no-gutter">
          <div class="menu-navbar col-md-4 col-lg-4" >
            <button
              class="navbar-toggler menu-dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              id="#navbarSupported"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""><i class="fas fa-bars fa-1x"></i></span> Danh mục
              sản phẩm
            </button>
            <div class="dropdown-menu" id="navbarSupported">
              <!-- link  -->

              <a class="nav-link" href="#">Tất cả sản phẩm</a>

              <a class="nav-link" href="#">Bán chạy</a>

              <a class="nav-link" href="#">Khuyến mãi</a>

              <a class="nav-link" href="#">Cẩm nang nhà bếp</a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
